@import "../../styles/";

.button {
  $this: &;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  margin-bottom: 10px;
  width: max-content;
  height: max-content;
  border: 1px solid $base-dark-background-color;
  border-radius: 1rem;
  background-color: $base-dark-background-color;
  color: $base-light-font-color;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: $base-light-background-color;
    color: $base-dark-font-color;
    transform: scale(1.05);
  }

  &#{$this}__disabled {
    color: $color-disabled;
    background-color: $color-disabled-secondary;
    border-color: $color-disabled-secondary;
    cursor: default;

    &:hover {
      color: $color-disabled;
      background-color: $color-disabled-secondary;
      border-color: $color-disabled-secondary;
      transform: none;
    }
  }
}
