@import "../../styles/";

.select {
  $this: &;
  display: flex;
  align-items: center;
  padding: 18px 20px 18px 80px;
  width: fit-content;
  height: 56px;
  background-color: $color-bg-input;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: transparent;
  transition: all 0.25s ease;
  box-sizing: border-box;

  &:hover {
    background-color: $color-bg-input-hover;
    cursor: pointer;
  }

  &#{$this}__error {
    background-color: $color-light-red;

    &:hover {
      background-color: $color-light-red-hover;
    }
  }

  &#{$this}__active {
    border: 1px solid rgba(0, 0, 0, 0.54) !important;
    color: $base-dark-font-color !important;
    background-color: $base-light-background-color !important;

    input:hover,
    input {
      background-color: $base-light-background-color !important;
    }
  }

  .option {
    border-radius: 4px;
    padding: 0 4px 1px;
    display: flex;
    justify-content: center;

    &__def {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
