.form {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__submit {
    margin-top: 12px;
  }
}

@media screen and (min-width: 525px) {
  .form {
    padding: 2rem 3rem;

    &__submit {
      margin-top: 0;
    }
  }
}
