@import "../../styles/";

.formField {
  position: relative;
  margin: 12px 0 30px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 4px;
  word-wrap: break-word;
  box-sizing: border-box;

  &__active {
    width: 100%;
    background-color: white !important;
  }

  &__label {
    z-index: 1;
    color: rgba(0, 0, 0, 0.54);
    pointer-events: none;
    transition: all 0.2s;

    &Required {
      color: $color-red;
    }

    &_type_select {
      position: absolute;
      top: 20px;
      left: 12px;
    }
  }

  &__errorMessage {
    display: block;
    padding-top: 5px;
    color: $color-red;
    transition: all 0.3s;
  }
}

@media screen and (min-width: 525px) {
  .formField {
    margin: 0 0 30px;

    &__label {
      position: absolute;
      top: 20px;
      left: 12px;

      &_type_textarea {
        position: static;
      }
    }
  }
}
