@import "../../styles/";

.popup {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 260px);
  height: 100%;
  overflow-y: auto;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &__opened {
    opacity: 1;
    pointer-events: all;
    z-index: 500;
  }

  &__container {
    width: 560px;
    max-width: 95%;
    background-color: $base-light-background-color;
    border-radius: 10px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.6);
    position: relative;
    overflow: hidden;
  }

  &__close-btn {
    position: absolute;
    right: 25px;
    top: 25px;
    border: none;
    opacity: 0.85;
    transition: all 0.3s ease;
    font-size: 22px;

    &:hover {
      cursor: pointer;
      opacity: 1;
      transform: scale(1.05);
    }
  }

  &__title {
    margin: 2rem auto 0;
    width: 480px;
    max-width: 90%;
    text-align: center;
    color: $base-dark-font-color;
    font-size: calc(23px + 10 * ((100vw - 320px) / (1280 - 320)));
  }
}
