$base-dark-font-color: #000;
$base-light-font-color: #fff;
$base-gray-font-color: #888;

$base-dark-background-color: #000;
$base-light-background-color: #fff;
$base-gray-background-color: rgba(203, 203, 210, 0.15);

$transparent-light-background-color:rgba(255, 255, 255, 0.23);
