$base-dark-font-color: #000;
$base-light-font-color: #fff;
$base-gray-font-color: #888;

$base-dark-background-color: #000;
$base-light-background-color: #fff;
$base-gray-background-color: rgba(203, 203, 210, 0.15);

$transparent-light-background-color: rgba(255, 255, 255, 0.23);
$light-gray-background-color: #dfdfdf;
$dark-gray-background-color: #282a29;

$color-disabled: rgba(191, 191, 191, 1); /* #bfbfbf */
$color-disabled-secondary: rgba(245, 245, 245, 1); /* #f5f5f5 */

$color-red: rgba(227, 18, 53, 1); /* #e31235 */
$color-light-red: rgba(251, 228, 227, 1); /* #fbe4e3 */
$color-light-red-hover: rgba(250, 219, 218, 1); /* #fadbda */
$color-link-orange: #ff8562;

/* Other */
$color-bg-input: rgba(236, 241, 247, 1); /* #ecf1f7 */
$color-bg-input-hover: rgba(228, 235, 243, 1); /* #e4ebf3 */
